<body>
    Enabling auth provider {{ value }} on your rancher server.
    <br><br>
    Please enter the below details.
</body>

<form action="/authenticate" method = "POST">
  <label for="rancherurl">Rancher Server URL: </label>

<input type="url" name="url" id="rancherurl"
       placeholder="http://rancherurl"
       pattern="https://.*" size="30"
       required><br><br>
  <label for="accesskey">API Access key: </label>
  <input type="text" id="accesskey" name="accesskey"><br><br>
  <label for="secretkey">API Secret key: </label>
  <input type="text" id="secretkey" name="secretkey"><br><br>
  <input type="submit" value="Submit">
</form> 
