<br>
<h2> Select your favorite saml provider </h2> </br>

<form action="/rancherform" method="get" id="nameform"> </form>

  <button type="submit" form="nameform" name="authprovider" value="adfs">ADFS</button> </br> </br>
  <button type="submit" form="nameform" name="authprovider" value="keyCloak">KeyCloak</button> </br> </br>
  <button type="submit" form="nameform" name="authprovider" value="okta">Okta</button> </br> </br>
  <button type="submit" form="nameform" name="authprovider" value="ping">Ping Identity</button> </br> </br>
  <button type="submit" form="nameform" name="authprovider" value="shibboleth">Shibboleth</button> </br> </br>
</html>
